/**********************************
 *         Footer Section         *
 **********************************/
.footer {
    text-align: center;
    padding: 40px 20px 20px;
    /* margin-top: 100px; */
    background: #F9FBFD;
}

.footer__sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__section {
    flex: 1;
    min-width: 200px;
}

.footer__section h3 {
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}

.footer__section ul {
    list-style: none;
    padding: 0;
}

.footer__section ul li {
    margin-bottom: 10px;
}

.footer__section ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.footer__icons {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    gap: 20px;
    cursor: pointer;
}

.footer__icons i {
    margin-top: 5px;
}

.footer__info {
    font-size: 15px;
    color: black;
    margin-top: 35px;
    padding-top: 15px;
    border-top: 1px solid #bfc0c6;
}

/* Responsive */
@media (max-width: 480px) {
    .footer__sections {
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
    }

    .footer__section {
        min-width: auto;
        width: 100%;
    }
}